// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -


#typing-animation {
    color: $text-subheader-color;
}





.portfolio{

    margin-top: 15px;
    padding: 0 0 0 $grid-spacing*1.5;
    min-height: 55vh;

    @include mq(tabletp) {
		padding: 0 $grid-spacing*2 0 $grid-spacing*4; 
        min-height: 55vh;
        margin-top: 70px;	
	}

	@include mq(laptop) {
		padding: 0 $grid-spacing*10 0 $grid-spacing*10; 
        min-height: 55vh;
        margin-top: 100px;	
	}

	@include mq(monitor) {
		padding: 0 12% 0 12%;
        min-height: 65vh;
	}
}



html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 25px;
	width: 40px;
	margin: 5px 0 0 11px;
	line-height: 60px;
	//position: absolute;
	align-self: center;

	bottom: 5px;
	color: #FFF;
	text-align: center;
	font-size: 10px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-15px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,15px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-15px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,15px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-15px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,15px); opacity: 0; }
}




.portfolio__item-link {

    &:hover{
        span {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23f20873' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: auto 14%;
            text-decoration: none;
            color: $text-header-color;
        }
    }
}


.portfolio__item{
    margin-top: 45px;

    @include mq(tabletp) {
        margin-top: 0;
	}
}



.portfolio__subheading{
    color: $text-subheader-color
}

.portolfio-wrap{
    padding: 0;
}

.portfolio__item-number{
    color: $text-accent-color;
    padding: 0;
    
    margin-right: -15px;

    p {
        transform: rotate(270deg);
        font-family: "PT Mono";
    }
   
}

.portfolio__item-image{
    border-radius: 6px;
}

.portfolio__item-category{
    font-family: "PT Mono";
    color: $text-accent-color;
    margin-top: 5px;
}

.portfolio__item-title{
    
    display: inline-block;
    color: $text-header-color;
    line-height: normal;
    font-weight: 600;
    margin-top: 5px;
    font-size: 20px;

    @include mq(tabletp) {
		font-size: 26px;
	}

	@include mq(laptop) {
		font-size: 26px;
	}
}


.portfolio__item-subtitle{
    color: $text-subheader-color;
    font-weight: 360;
    line-height: normal;
    margin-top: 5px;
    font-size: 17px;

    @include mq(tabletp) {
		font-size: 18px;
	}

	@include mq(laptop) {
		font-size: 18px;
	}
}


// .portfolio-wrap-title{

// 	padding: $grid-spacing/2;

// 	margin-top: 25px;
// 	margin-bottom: 30px;
// 	min-height: 100%;

// 	@include mq(tabletp) {
// 		margin-top: 40px;
// 		margin-bottom: 40px;
// 	}

// 	@include mq(tabletl) {
// 		margin-top: 40px;
// 		margin-bottom: 40px;
// 		padding: $grid-spacing;
// 	}

// 	@include mq(laptop) {
// 		margin-top: 50px;
// 		margin-bottom: 50px;
// 	}
// }


// .portfolio-item {
// 	position: relative;
// 	padding: $grid-spacing/2 $grid-spacing/2 $grid-spacing*2 $grid-spacing/2;
// 	float: left;
// 	width: 100%;


// 	@include mq(tabletp) {
// 		padding: $grid-spacing/2 ;
// 		width: 50%;
// 	}

// 	@include mq(tabletl) {
// 		padding: $grid-spacing;
// 	}
// }

// .portfolio-item__link {
// 	position: relative;
// 	display: block;

// 	@include mq(tabletl) {

// 		&:hover {

// 			.portfolio-item__content {
// 				opacity: 1;
// 				visibility: visible;
// 			}
// 		}
// 	}
// }

// .portfolio-item__image {
// 	width: 100%;
// }

// .portfolio-item__content {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	padding: 1.22rem;
// 	display: flex;
// 	align-items: flex-start;
// 	justify-content: flex-start;
// 	background: rgba($overlay-background-color, $overlay-opacity);

// 	opacity: 0;
// 	visibility: hidden;
// 	@include transition(all 0.2s ease-in-out);
// }

// .portfolio-item__info {
// 	text-align: left;
// }

// .portfolio-item__title {
// 	color: $overlay-text-color;
// 	font-size: $grid-item-title-small;
// 	font-weight: $grid-item-title-weight;
// 	letter-spacing: $grid-item-title-spacing;

// 	@include mq(tabletp) {
// 		font-size: $grid-item-title-medium;
// 	}

// 	@include mq(laptop) {
// 		font-size: $grid-item-title-large;
// 	}
// }

// .portfolio-item__subtitle {
// 	margin-top: 0px;
// 	color: $overlay-subtitle-color;
// 	font-size: $grid-item-subtitle-small;
// 	font-weight: $grid-item-subtitle-weight;
// 	letter-spacing: $grid-item-subtitle-spacing;

// 	@include mq(tabletp) {
// 		font-size: $grid-item-subtitle-medium;
// 	}

// 	@include mq(laptop) {
// 		font-size: $grid-item-subtitle-large;
// 	}
// }


// .portfolio-item__alt-title {
// 	padding-top: $grid-spacing/2;
	
// 	@include mq(tabletp) {
// 		display: none
// 	}

// }

// .portfolio-item__alt-text {
// 	font-size: 18px;
// 	font-weight: 400;
	
// }